@import url("~leaflet/dist/leaflet.css");

body,
#root,
.leaflet-container {
  height: 80vh;
  width: 100vw;
  font-size: 15px;
  text-align: left;
}

.property {
  color: dodgerblue;
}

button {
  margin: 5px;
  width: 150px;
}